


body{
    background-color: #b0c4de;
    margin:0;
    padding: 50px;
  }

h1 {
    color: #000000;
    font-family: Helvetica, Arial, Century Courier, sans-serif;
    font-size: 20pt;
}

h2 {
    font-size:15pt;
    color:#6495ED;
}

h3 {
    font-size:5pt;
}
  
  .navbar{
      height:5px;
      
  }
  
  .navbar ul{
      float:right;
      display:inline;
      list-style:none;

  }
  
  .navbar li{
      display:inline;
      height: 2em;
      line-height: 2em;
      padding: 0em;
      color: #FFFFFF;
      font-color: #6495ED;
      font-size: 12pt;
      
  }
  
.men_nav li{
    background-color: #6495ED;
    font-color: #FFFFFF;
    font-size: 12pt;
    width: 50em;
    height:25em;
}

.pics {
    
}

.container {
    height: 100px;
    width: 2px;
    background-color: #6495ED;
    padding: 5px;
    padding-top: 10px;
}

.background {
    background-color: #000033;
    height: 1000px;
    padding-top:30px;
}