<!--project template: /templates/base.html -->

<!DOCTYPE html>
<html lang="en">

<head>
    <title>{% block title %}The University of North Carolina Official Athletic Site{% endblock %}</title>
    <link href="{{ STATIC_URL }}css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/app.css" rel="stylesheet">
</head>

<body>

   
 
    <div class ="logo">
        <img src= "http://www.unc.edu/~bidwej/images/unc%20ram%20logo.gif"
    alt="UNC logo" width="134" height="107" padding="10px" align="left"<img>
     </div>
 
 
    <div class="navbar">
    <div class="navbar-inner">
    <div class="container">
     
    <!-- .btn-navbar is used as the toggle for collapsed navbar content -->
    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    </a>
     
     
     
    <!-- Be sure to leave the brand out there if you want it shown -->
     
     
     <div class="dropdown">
     <ul class="nav nav-tabs">
  <li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
        Men's Sports
        <b class="caret"></b>
      </a>
    <ul class="dropdown-menu">
     <li><a href="#">Baseball<a></li>
     <li><a href="#">Basketball<a></li>
     <li><a href="#">Cross Country<a></li>
     <li><a href="#">Fencing<a></li>
     <li><a href="#">Football<a></li>
     <li><a href="#">Golf<a></li>
     <li><a href="#">Lacrosse<a></li>
     <li><a href="#">Soccer<a></li>
     <li><a href="#">Swimming & Diving<a></li>
     <li><a href="#">Tennis<a></li>
     <li><a href="#">Track & Field<a></li>
     <li><a href="#">Wrestling<a></li>
      <!-- links -->
    </ul>
  </li>
  <li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
        Women's Sports
        <b class="caret"></b>
      </a>
    <ul class="dropdown-menu">
      <li><a href="#">Basketball<a></li>
      <li><a href="#">Cross Country<a></li>
      <li><a href="#">Fencing<a></li>
      <li><a href="#">Field Hockey<a></li>
      <li><a href="#">Golf<a></li>
      <li><a href="#">Gymnastics<a></li>
      <li><a href="#">Lacross<a></li>
      <li><a href="#">Rowing<a></li>
      <li><a href="#">Soccer<a></li>
      <li><a href="#">Softball<a></li>
      <li><a href="#">Swimming & Diving<a></li>
      <li><a href="#">Tennis<a></li>
      <li><a href="#">Track & Field<a></li>
      <li><a href="#">Volleyball<a></li>
    </ul>
  </li>
</ul>
    
    <a class="brand">Schedules</a>
    <a class="brand">Inside Athletics</a>
    <a class="brand">Multimedia</a>
    <a class="brand">Fan Center</a>
    <!-- Everything you want hidden at 940px or less, place within here -->
    <div class="nav-collapse collapse">
    <!-- .nav, .navbar-search, .navbar-form, etc -->
    </div>
 
    
    </div>
     
    </div>
    </div>
    </div>
    
   
  
   

    
    
   

    <div class="container">
        {% block content %}{% endblock %}
    </div>

    
    
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap.min.js"></script>


</body>
</html>