h1 {
    color: #FFFFFF;
    font-family: Helvetica, Arial, Century Courier, sans-serif;
    font-size: 20pt;
}

body{
      margin:0;
      background: #00008B;
  }
  
h2 {
    color:#6495ED;
}
  
  .navbar{
      height:50px;
      letter-spacing:5em;
  }
  
  .navbar ul{
      float:right;
      display:inline;

  }
  
  .navbar li{
      display:inline;
      color: #FFFFFF;
      font-color: #6495ED;
      font-size: 12pt;
      
  }
  
.men_nav li{
    background-color: #6495ED;
    font-color: #FFFFFF;
    font-size: 12pt;
    width: 50em;
    height:25em;
}

.women_nav li{
    background-color: #6495ED;
    font-color: #FFFFFF;
    font-size: 12pt;
    width: 50em;
    height:25em;
}

.box {
    background-color: #6495ED;
    height: 1000px;
    width: 1500px;
    margin-left: auto;
    margin-right: auto;
}

  .gray-box{
      background-color:#999;
  }
  
  .spacer{
      margin-top:1.5em;
      
  }
  
  .container{
      width:800px;
      margin-left:auto;
      margin-right:auto;
  }
