
{% extends "base.html"%}
{% load humanize %}
{% load url from future %}

{% block content %}
   
<div class=background>
 


<body>
<div class="back">

<h1>The University of North Carolina Official Athletic Site</h1>
<p>This new interactive development site has {{ players_count|intcomma }} players
in {{ roster_count|intcomma }} rosters.</p>

<p><a href="{% url 'team_roster_list' %}">Team Stats</a></p>
<p><a href="{% url 'team_players_list' %}">List of Players</a></p>


    <div id="myCarousel" class="carousel slide">
    <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <!-- Carousel items -->
    <div class="carousel-inner">
    <div class="active item"><img src="http://www.goheels.com/pics33/640/OD/ODSRLUEHLFXFQDJ.20130303220258.jpg" style="float:left;" width="600" height="800"></img>
    <h1 padding="10px";>McAdoo Delivers vs. FSU</h1>
    <p>Forward James Michael McAdoo's shot 10-for-15 from the field for 21 points as the TarHeels defeated the Noles 79-58. McAdoo, Reggie Bullock and P.J. Hairston combined for nearly 60 points.</p>
    <ul>
        <li>Games Notes</li>
        <li>Game Stats</li>
        <li>Post-Game Press Conference </li>
        <li>Photos from the Game</li>
    </ul>
    </div>
    <div class="item"><img src="http://www.goheels.com/pics33/800/ED/EDTMUEWZSOALZJK.20130301021125.jpg" style="float:left;" width="600" height="800"></img>
    <h1>Tar Heels Open ACC Tournament Friday</h1>
    <p>Carolina is trying for its 10th league title in 36 seasons.</p>
    <ul>
        <li>Tar Heels Named All-ACC</li>
        <li>Rolle Named All-Defensive</li>
        <li>McDaniel Named ACC ROY</li>
        <li>ACC Fan Info</li>
        <li>ACC Tournament Notes</li>
        <li>ACC Bracket</li>
    </ul>
    </div>
    <div class="item"><img src="http://www.goheels.com/pics32/800/DI/DIQOYBRQDFGHKMI.20120620153837.jpeg" style="float:left;" width="600" height="800"><img>
    <h1>Number 11 Tar Heels Head to the NCAA Championship</h1>
    <p>Eleven members of the women's swim team officially received invitations Thursday to compete in the 2013 NCAA Championships March 21-23 at the IU Natorium.</p>
    <ul>
        <li>Selections By School</li>
        <li>Eligible Relays</li>
    </ul>
    </div>
    </div>
    <!-- Carousel nav -->
    <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
    <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
    </div>





<div class ="container1">
    <h2>Latest News</h2>
    <li>Men's Lacrosse</li>
    <li>Softball</li>
    <li>Women's Basketball</li>
    <li>Baseball</li>
</div>
</div>

</body>
</div>
</div>
{% endblock %}