
{% extends "base.html"%}
{% load humanize %}
{% load url from future %}

{% block content %}

   
<div class=background>
<body>
<div class="back">


    <div id="myCarousel" class="carousel slide">
    <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <!-- Carousel items -->
    <div class="carousel-inner">
    <div class="active item"><img src="http://www.goheels.com/pics33/640/OD/ODSRLUEHLFXFQDJ.20130303220258.jpg" style="margin-right: 20px; float:left;" width="600" height="800"></img>
    <h3>McAdoo Delivers vs. FSU</h3>
    <p>Forward James Michael McAdoo's shot 10-for-15 from the field for 21 points as the TarHeels defeated the Noles 79-58. McAdoo, Reggie Bullock and P.J. Hairston combined for nearly 60 points.</p>
    <ul>
        <li>Games Notes</li>
        <li>Game Stats</li>
        <li>Press Conference </li>
        <li>Photos from the Game</li>
    </ul>
    </div>
    <div class="item"><img src="http://www.goheels.com/pics33/800/ED/EDTMUEWZSOALZJK.20130301021125.jpg" style="margin-right: 20px; float:left;" width="600" height="800"></img>
    <h3>ACC Tournament Friday</h3>
    <p>Carolina is trying for its 10th league title in 36 seasons.</p>
    <ul>
        <li>Tar Heels Named All-ACC</li>
        <li>Rolle Named All-Defensive</li>
        <li>McDaniel Named ACC ROY</li>
        <li>ACC Fan Info</li>
        <li>ACC Tournament Notes</li>
        <li>ACC Bracket</li>
    </ul>
    </div>
    <div class="item"><img src="http://www.goheels.com/pics33/800/AS/ASICEPADUVNJUXD.20130307203914.jpg" style="margin-right: 20px; float:left;" width="600" height="800"><img>
    <h3>Women's Running</h3>
    <p>Chrishawn Williams will represent the Carolina track team and field program at the national championship on Friday evening in the long jump.</p>
    <ul>
        <li>NCAA Championship Info</li>
        <li>Watch NCAA Indoors Live</li>
        <li>Catch Up with UNC T&F</li>
        <li>Follow UNC T&F on Twitter</li>
        <li>Follow UNC T&F on Facebook</li>
    </ul>
    </div>
    </div>
    <!-- Carousel nav -->
    <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
    <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
    </div>



<div class ="headlines">
    <h3>Photo Gallery</h3>
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQi6j9nbWz2hzODmsxAiCQO-bY-d5zqXYCcSvMA6fplPe7EX8Sk" style="border:3px"; width="330" height="450"></img>
    <p>Baseball</p>
</div>

<div class ="schedule">
<div class="schedule_header">
  <h1>Tar Heel</h1>
  <h2>Game Day</h2>
</div>
  <table border="1" cellspacing="10">
    <tr>
        <th>Event</th>
        <th>Location</th>
        <th>Time</th>
        <th>Station</th>
    </tr>
    <tr>
        <td>Swimming & Diving vs. Last Chance Meet</td>
        <td>Columbus, OH</td>
        <td>March 10, 5:00 PM</td>
        <td>ESPN U</td>
    </tr>
    <tr>
        <td>Gymnastics @ Oklahoma</td>
        <td>Normal, Okla.</td>
        <td>March 10, 2:00 PM</td>
        <td>ESPN 3</td>
    </tr>
    <tr>
        <td>Men's Golf vs. Tiger Shootout</td>
        <td>Opelika, Ala.</td>
        <td>March 11, All Day</td>
        <td>ESPN U</td>
    </tr>
    <tr>
        <td>Men's Golf vs. Tiger Shootout</td>
        <td>Opelika, Ala.</td>
        <td>March 12, All Day</td>
        <td>ESPN 3</td>
    </tr>
    <tr>
        <td>Softball vs. Kentucky</td>
        <td>Lexington, Ky.</td>
        <td>March 12, 5:00 PM</td>
        <td>ESPN U</td>
    </tr>
    <tr>
        <td>Baseball vs. Gardner-Webb</td>
        <td>Chapel Hill, N.C.</td>
        <td>March 12, 6:00 PM</td>
        <td>ESPN 2</td>
    </tr>
    <tr>
        <td>Women's Lacrosse @ High Point</td>
        <td>High Point, N.C.</td>
        <td>March 12, 7:00 PM</td>
        <td>ESPN 3</td>
    </tr>
    <tr>
        <td>Men's Tennis @ Texas</td>
        <td>Austin, Texas</td>
        <td>March 12, 7:00 PM</td>
        <td>ESPN U</td>
    </tr>
  </table>         
</div>


</div>

</body>
</div>
</div>
{% endblock %}