{% load humanize %}
{% load url from future %}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}The University of North Carolina at Chapel Hill{% endblock %}</title>
    <link href="{{ STATIC_URL }}css/app.css" rel="stylesheet" type="text/css">
    <link href="{{ STATIC_URL }}css/bootstrap.min.css" rel="stylesheet" type="text/css">
</head>    
<div class=background>
<ul class ="navbar">
    <li><a href ="roster.html">Sports</a></li>
        <ul class ="men_nav">
    <li><a href ="roster.html">Basketball</a></li>
    <li>Baseball</li>
    <li>Cross Country</li>
    <li>Fencing</li>
    <li>Football</li>
    <li>Golf</li>
    <li>Lacrosse</li>
    <li>Soccer</li>
    <li>Swimming & Diving</li>
    <li>Tennis</li>
    <li>Wresting</li
</ul>
    <li>Schedules</li>
    <li>Inside Athletics</li>
    <li>Multimedia</li>
    <li>Fan Center/li>
</ul>


<body>
<img src= "http://www.unc.edu/~bidwej/images/unc%20ram%20logo.gif"
    alt="UNC logo" width="134" height="107" padding="10px"<img>

<h1>The University of North Carolina Official Athletic Site</h1>
<p>This new interactive development site has {{ players_count|intcomma }} players
in {{ roster_count|intcomma }} rosters.</p>

<p><a href="{% url 'team_roster_list' %}">List of Players</a></p>
<p><a href="{% url 'team_players_list' %}">List of Players</a></p>
<p>
<img src = "http://upload.wikimedia.org/wikipedia/commons/a/a4/Duke_UNC_Basketball_Game_at_Chapel_Hill.jpg"
     alt= "UNC baskteball court" height="300" width="500"</img>
</p>

<ul class="pics">
<div align="left">
<img src="http://images.lax.com/cimages/bigs/25/2592-2.jpg" alt="Men's Lacrosse" height="150" width ="200">
<img src="http://farm6.staticflickr.com/5023/5801386051_a816f8ae18_z.jpg" alt="UNC basketball huddle" height = "150" width="200">
</div>
</ul>


<div>
<ul class ="container">
    <h2>Latest News</h2>
    <h3>Men's Lacrosse</h3>
    <h3>Softball</h3>
    <h3>Women's Basketball</h3>
    <h3>Baseball</h3>
</ul>
</div>

</body>
</div>
</html>
