

{% extends "base.html" %}

{% block content %}
   <div class="top_content">
 <img src="http://a.espncdn.com/media/motion/2013/0303/com_130303_NCB_vblog_medcalf_hairston_130303/com_130303_NCB_vblog_medcalf_hairston_130303.jpg">   
  
   
    
 <div class="row-fluid">
    <div class="span12">
    <h3>Men's Basketball Roster</h3>
 <table class="table">
        <thead>
    <tr>
        <th>Number</th>
        <th>Name</th>
        <th>Position</th>
        <th>Height</th>
        <th>Weight</th>
        <th>Hometown</th>
        <th>High School</th>
    </tr>
    </thead>
    {% for players in players %}
    {# Each "players" is a player model object. #}   
    <tr>
    <td>{{ players.number }}</td>
    <td><a href="{{ players.id }}">{{ players.name }}</a></td>
    <td>{{ players.position }}</td>
    <td>{{ players.height }}</td>
    <td>{{ players.weight }}</td>
    <td>{{ players.hometown }}</td>
    <td>{{ players.school }}</td>
    </tr>
{% endfor %}
 </table>


<div class="pagination">
    <span class="step-links">
        {% if players.has_previous %}
            <a href="?page={{ players.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ players.number }} of {{ players.paginator.num_pages }}.
        </span>

        {% if players.has_next %}
            <a href="?page={{ players.next_page_number }}">next</a>
        {% endif %}
    </span>
</div>
    
    
    
    
    
{% endblock %}

