{% extends "base.html" %}

<!DOCTYPE html>
<html lang="en">
    
<img src= "http://www.unc.edu/~bidwej/images/unc%20ram%20logo.gif"
    alt="UNC logo" width="134" height="107" <img>
<ul class ="navbar">
    <li><a href ="roster.html">Sports</a></li>
    <li><a href ="schedules.html">Schedules</a></li>
    <li><a href ="inside.html">Inside Athletics</a></li>
    <li><a href ="multimedia.html">Multimedia</a></li>
    <li><a href ="fan.html">Fan Center</a></li>
</ul>
{% block content %}
<h2>Bio: {{ players.name }}</h2>

<div class="bball">
<ul>
    <img src ="{{ players.img }}">
<div class="info" alighn="right">
    <li>{{ players.number }}</li>
    <li>{{ players.name }}</li>
    <li>{{ players.position }}</li>
    <li>{{ players.height }}</li>
    <li>{{ players.weight }}</li>
    <li>{{ players.year }}</li>
    <li>{{ players.hometown }}</li>
    <li>{{ players.school }}</li>
</div>
</ul>
</div>

{% endblock %}
</html>