

{% extends "base.html" %}

{% block content %}
    <h2>Team Roster</h2>
    
    {% for players in players %}
    {# Each "player" is a player model object. #}
   
    <table class="table">
        <thead>
    <tr>
        <th>Number</th>
        <th>Name</th>
        <th>Position</th>
        <th>Height</th>
        <th>Weight</th>
        <th>Hometown</th>
        <th>High School</th>
    </tr>
        </thead>
    <tbody>    
    <tr>
    <td>{{ players.number }}</td>
    <td><a href="{{ players.id }}">{{ players.name }}</a></td>
    <td>{{ players.position }}</td>
    <td>{{ players.height }}</td>
    <td>{{ players.weight }}</td>
    <td>{{ players.hometown }}</td>
    <td>{{ players.school }}</td>
    </tr>
    </tbody>
    </table>
    

{% endfor %}


<div class="pagination">
    <span class="step-links">
        {% if players.has_previous %}
            <a href="?page={{ players.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ players.number }} of {{ players.paginator.num_pages }}.
        </span>

        {% if players.has_next %}
            <a href="?page={{ players.next_page_number }}">next</a>
        {% endif %}
    </span>
</div>
    
    
    
    
    
{% endblock %}

