{% extends "base.html" %}

    
<img src= "http://www.unc.edu/~bidwej/images/unc%20ram%20logo.gif"
    alt="UNC logo" width="134" height="107" <img>
<ul class ="navbar">
    <li><a href ="roster.html">Sports</a></li>
    <li><a href ="schedules.html">Schedules</a></li>
    <li><a href ="inside.html">Inside Athletics</a></li>
    <li><a href ="multimedia.html">Multimedia</a></li>
    <li><a href ="fan.html">Fan Center</a></li>
</ul>
{% block content %}
<div class="bball">
<h2 style="margin-bottom: 10px;">#{{ players.number }}&nbsp;&nbsp;{{ players.name }}</h2>

 <img src ="{{ players.img }}" class="floatLeft" width="266" height="400" padding-right="10">
   

<ul>
<div class="floatRight">
    <li style="margin-bottom:3px;"><h5>Position:&nbsp;&nbsp;{{ players.position }}</h5></li>
    <li style="margin-bottom:3px"><h5>Height:&nbsp;&nbsp;{{ players.height }}</h5></li>
    <li style="margin-bottom:3px;"><h5>Weight:&nbsp;&nbsp;{{ players.weight }}</h5></li>
    <li style="margin-bottom:3px;"><h5>Year:&nbsp;&nbsp;{{ players.year }}</h5></li>
    <li style="margin-bottom:3px;"><h5>Hometown:&nbsp;&nbsp;{{ players.hometown }}</h5></li>
    <li style="margin-bottom:3px;"><h5>High School:&nbsp;&nbsp;{{ players.school }}</h5></li>
    <li style="margin-bottom:3px;">Bio:&nbsp;&nbsp;{{ players.bio }}</li>
</ul>
</div>
</div>
</div>




{% endblock %}
</html>