{% extends "base.html" %}

    
<img src= "http://www.unc.edu/~bidwej/images/unc%20ram%20logo.gif"
    alt="UNC logo" width="134" height="107" <img>
<ul class ="navbar">
    <li><a href ="roster.html">Sports</a></li>
    <li><a href ="schedules.html">Schedules</a></li>
    <li><a href ="inside.html">Inside Athletics</a></li>
    <li><a href ="multimedia.html">Multimedia</a></li>
    <li><a href ="fan.html">Fan Center</a></li>
</ul>
{% block content %}
<div class="bball">
<h2>Bio: #{{ players.number }}&nbsp;&nbsp;{{ players.name }}</h2>

 <img src ="{{ players.img }}" class="floatLeft">
     

<ul>
<div class="info">
    <h3>#{{ players.number }}&nbsp;&nbsp;{{ players.name }}</h3>
    <li>Position:&nbsp;&nbsp;{{ players.position }}</li>
    <li>Height:&nbsp;&nbsp;{{ players.height }}</li>
    <li>Weight:&nbsp;&nbsp;{{ players.weight }}</li>
    <li>Year:&nbsp;&nbsp;{{ players.year }}</li>
    <li>Hometown:&nbsp;&nbsp;{{ players.hometown }}</li>
    <li>High School:&nbsp;&nbsp;{{ players.school }}</li>
    Bio:&nbsp;&nbsp;{{ players.bio }}
</ul>
</div>
</div>
</div>



{% endblock %}
</html>