<!-- team/templates/team/roster_list.html -->
{% extends "base.html" %}
{% block content %}
    
    <h2>Men's Basketball 2012-2013 Season</h2>
    <ul>
    {% for i in rosters %}
    {# Each "roster" is a team model object. #}
    <li><a href="{{ i.id }}">{{ i.name }}</a>{{ i.coach}}
    {{ i.wins }} {{ i.losses }}
    </li>
    
    <ul>
    {% for players in players %}
    {# Each "player" is a player model object. #}
    <li><a href="{{ players.id }}">{{ players.name }}</a> | {{ players.position }}</li>
    </ul>
    
    
    
{% endfor %}

 

    


<div class="pagination">
    <span class="step-links">
        {% if roster.has_previous %}
            <a href="?page={{ roster.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ roster.number }} of {{ rosters.paginator.num_pages }}.
        </span>

        {% if players.has_next %}
            <a href="?page={{ players.next_page_number }}">next</a>
        {% endif %}
    </span>
</div>
    
    
    
    
    
{% endblock %}