
<!DOCTYPE html>
<html lang="en">
    <head>
        
        <title>The University of North Carolina at Chapel Hill</title>
        <link href="static_media/css/app.css" rel="stylesheet">
        <link href="static_media/css/bootstrap-responsive.css" rel="stylesheet">
    </head>


    <body>
<img src= "http://www.unc.edu/~bidwej/images/unc%20ram%20logo.gif"
    alt="UNC logo" width="134" height="107" <img>
<ul class ="navbar">
    <li><a href ="roster.html">Sports</a></li>
    <li><a href ="schedules.html">Schedules</a></li>
    <li><a href ="inside.html">Inside Athletics</a></li>
    <li><a href ="multimedia.html">Multimedia</a></li>
    <li><a href ="fan.html">Fan Center</a></li>
</ul>


<h2>Men's Basketball: 2012-2013 Roster: {{ roster.name }}</h2>
<.box>
<p>Details</p>
<ul>
    <li>{{ roster.number }}</li>
    <li>{{ roster.name }}</li>
    <li>{{ roster.position }}</li>
    <li>{{ roster.height }}</li>
    <li>{{ roster.weight }}</li>
    <li>{{ roster.year }}</li>
    <li>{{ roster.hometown }}</li>
    <li>{{ roster.school }}</li>
</ul>
</.box>
    </body>
</html>